<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= city.name %> - Visits</title>
</head>
<body>
  <h1><%= city.name %> - Visits</h1>
  <a href="/cities/<%= city._id %>/add-visit">Add another visit</a>

  <ul>
    <% visits.forEach(visit => { %>
      <li>
        <strong>Description:</strong> <%= visit.description %><br>
        <strong>Rating:</strong> <%= visit.rating %><br>
        <strong>Visit Type:</strong> <%= visit.visitType %><br>
        <strong>author:</strong> <%= visit.user.username%><br>
        <form action="/visits/<%= visit._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Visit</button>
        </form>
      </li>
    <% }) %>
  </ul>
  <form action="/logout" method="POST">
    <button type="submit">Log Out</button>
  </form>
</body>
</html>